/* page.module.css */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  min-height: 100vh;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 12dvh;
  background-color: #FFFFFF;
}

.bannerDiv {
  background-image: url('/banner.jpg');
  width: 100vw;
  padding: 4dvh 4vw;
  @media (min-width : 1200px) {
    height: 70vh;
  background-position: center;
  }
  height: 75dvh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  background-attachment: fixed;
  background-position: right;
  
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 4vh;
}

.bas{
   background-image: url('/banner.jpg');
  width: 100vw !important;
  padding: 4dvh 4vw;
  @media (min-width : 1200px) {
    height: 40vh;
  }
  height: 75dvh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px !important;
}

.contact{
  background-image: url('/magasin-interieur.jpg');
 width: 100vw !important;
 /* padding: 0 !important; */
 @media (min-width : 1200px) {
   height: 70vh;
 }
 height: 75dvh;
 overflow-y: scroll;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-end;
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 margin-bottom: 4vh;
}

.contactCard {
  background-color: #FFFFFF;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding : 3dvh 2dvw !important;
}

.browCircle{
  @media (min-width : 1200px) {
    width: 120px !important;
    height: 120px !important;
  }
  width:0px !important;
  height: 0px !important;
  border-radius: 50%;
  background-color: #a87c63;
  position: absolute;
  right : -60px;
  margin-top:  30px !important;
}

.lightCircle{
  width: 120px !important;
  height: 120px !important;
  border-radius: 50%;
  background-color: #f1dacd;
  position: absolute;
  left : -60px;
  margin-top:  60px !important;
}
.title {
  font-size: 1.2rem;
  margin-bottom: 3vh;
  font-weight: 600;
}

.subtitle{
  font-size: 1.6rem;
  font-weight: 600;
  width: fit-content !important;
}

.imageSection {
  display: flex;
  justify-content: space-evenly !important;
  align-items: center;
  padding: 50px 0;
}

.avisSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
overflow-x: scroll;
  padding: 50px 0;
}

.description {
  color: #ffeee4;
  
}

.descriptionCard{
  /* border: 2px solid #fdfffc; */
    background: rgba(130, 128, 129, 0.3);
    @media (min-width : 1200px) {
      padding: 2vh 2dvw;
  }
  padding: 1.5vh 2dvw;
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideOutToRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.gradient {
  background: rgb(253,253,253);
background: linear-gradient(180deg, rgba(253,253,253,1) 0%, rgba(255,238,228,1) 6%, rgba(168,124,99,1) 100%);
width: 100dvw !important;
padding : 3dvh 5dvw !important;
}
.image {
  width: 80% !important;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  opacity: 0;
  transform: translateY(0); /* Valeur initiale pour transform */
  transition: 
    opacity 0.8s ease-out,
    transform 0.3s ease-in;
  margin-bottom: 2dvh;
  cursor: pointer;
}


.hidden {
  opacity: 0;
  transform: scale(0.5);
  pointer-events: none; /* Désactive l'interaction avec les images cachées */
}

.visible {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
  animation: slideInFromLeft 1.5s ease-out forwards;
}
.right {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
  animation: slideInFromLeft 1.5s ease-out forwards;
  position: relative;
  /* right: 50%; */
}
/* 
.image.hidden {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.5s ease-out, transform 0.5s ease-in-out;
} */

.image.selected {
  transform: scale(1.2);
  position: relative;
  left:0
}

.Row {
  margin: 4dvh 0 2dvh;
  width : 94dvw;
  padding : 1dvh 2dvw;
}


.logo {
  position: relative;
}

.avisCard {
  display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
padding: 16px 20px;
gap: 20px;
font-style: normal;
width: 100%;
background: #FFFFFF;
box-shadow: 0px 20px 84px rgba(34, 52, 71, 0.084);
border-radius: 16px;
color: #475467;
margin-top: 2vh;
height: 100%;
}

.contactCardDay{
  margin-top: 5px;
  color: #a87c63;
}

.contactCardName{
  font-size: 1.1rem;
  font-weight: 600;
  color: #a87c63;
  text-align: center;
}

.contactCardInfo{
  font-style: italic;
  text-align: center;
}
.note {
font-weight: 400;
font-size: 20px;
margin-bottom: 1vh;
}

.avis {
font-weight: 400;
font-size: 1rem;
line-height: 24px;
text-align: justify;
}

.avisName {
font-weight: bold;
font-size: 1.1rem;
line-height: 24px;
}

@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}
