/* page.module.css */
.container {
  height: 100dvh;
  overflow-y: hidden;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2dvh 2rem;
  min-height: 88vh;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 12dvh;
  @media (min-width : 1200px) {
    margin-top: 15dvh;
    padding: 4dvh 2rem;
  }
  background: #fdfffc;
  /* background: linear-gradient(0deg, rgba(253,253,253,1) 0%, rgba(255,238,228,1) 45%, rgba(168,124,99,1) 100%); */
}

.logos {
  opacity: 1 !important;
  /* height: 10dvh; */
  height: auto !important;
  aspect-ratio: auto;
  width: 70% !important;
}
.logoColShow {
  /* position: relative !important; */
  transform: none !important;
  opacity: 1;
}

.textCol p {
  margin: 0;
  @media (min-width : 1200px) {
   width: 80% !important;
  }
  width: 100% !important;
}

.textCol{
  @media (min-width : 1200px) {
    position: absolute;
  top : 10% ;
  left: 0% ;
  height: 18dvh;
  transition: all 2s ease;
  }
  opacity: 0;
 text-align: justify;
  height: fit-content !important;
  transition: all 2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width : 1200px) {
   

.logoColShow:nth-child(1) {
  top : 0% ;
  left: 0% ;
}

.logoColShow:nth-child(2) {
  top : 0% ;
  left: 33% ;
}

.logoColShow:nth-child(3) {
  top : 0% ;
  left: 66% ;
}

.logoColShow:nth-child(4) {
  top : 33% ;
  left: 0% ;
}

.logoColShow:nth-child(5) {
  top : 33% ;
  left: 33% ;
}

.logoColShow:nth-child(6) {
  top : 33% ;
  left: 66% ;
}

.logoColShow:nth-child(7) {
  top : 66% ;
  left: 15% ;
}

.logoColShow:nth-child(8) {
  top : 66% ;
  left: 55% ;
}
}
.images{
  width: 100%;
  height: auto;
}

.imagesCol{
  bottom: 0;
  padding :0 !important; 
  @media (min-width : 1200px) {
   
  height: 45dvh;
  }

  opacity: 0;
  transition: height 2s ease;
}
.imagesRow {
  z-index: 0;
  width: 100dvw;
  position: fixed;
  margin-bottom: -3dvh;
  @media (min-width : 1200px) {
    margin-bottom: -6dvh;
  }
  transition: all 1s ease-in;
}

.nothing{
  @media (min-width : 1200px) {
   
  display: none;
  opacity: 0;
  }
}
.logosRow{
  z-index: 2;
  position: relative;
  width:100% !important;
  padding: 2vh 0 6vh 0;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  overflow-y: scroll;
  
  height: 60dvh;
  @media (min-width : 1200px) {
    flex-direction: row;
   justify-content: center;
   width: 80% !important;
  height: 83dvh;
  }
}

.logoCol{
  @media (min-width : 1200px) {
   height: 18dvh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  
  /* opacity: 0; */
  transition: all 1s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}